[submodule "mruby/mruby"]
	path = mruby/mruby
	url = https://github.com/mruby/mruby.git
[submodule "shared-modules"]
	path = flatpak/shared-modules
	url = https://github.com/flathub/shared-modules
[submodule "flatpak/shared-modules"]
	path = flatpak/shared-modules
	url = https://github.com/flathub/shared-modules
[submodule "pod-parser"]
	path = pod-parser
	url = https://github.com/Secretchronicles/pod-parser.git
[submodule "cegui"]
	path = cegui
	url = https://github.com/cegui/cegui
